* {
    font-family: Helvetica;
}

body {
    padding: 60px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-left: 28px;
}

input {
    display: block;
    margin: auto;
    font-size: 16px;
    padding: 8px;
    width: 70%;
    border-radius: 20px;
    border: 2px solid #000;
    outline: none;
    text-align: center;
}

button {
    display: block;
    margin-left: 415px;
    margin-top: 18px;
    border-radius: 30px;
    background: #313638;
    color: #F2E9E4;
    border: 1px solid #313638;
    padding: 13px;
    width: 30%;
    outline: none;
    transition: 0.5s all ease;
}

button:hover {
    background: #F2E9E4;
    color: #313638;
}

.card {
    align-content: center;
    width: 300px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
    border: none;
}

.card img {
    max-height: 170px;
    width: 100%;
}

.card-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}